<div class="content">
    <div class="main-content">
        <div class="news-post">
            <img src="../../../assets/img/ullathorpe_night.png" alt="" class="post-img">
            <div class="news-preview">
                <h2><a href="#">New days are coming</a></h2>
                <i>Asukita on bullies</i>
                &nbsp;
                <i>May 2020</i>
                <p class="text-preview">Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Itaque obcaecati
                    quibusdam, fugiat sit ab voluptate perspiciatis
                    error alias fugit quisquam deserunt libero. Minima
                    hic iusto quas ex repellat pariatur sed?</p>
                <a href="#" class="btn read-more">Read more</a>
            </div>
        </div>
        <div class="news-post">
            <img src="../../../assets/img/ullathorpe.png" alt="" class="post-img">
            <div class="news-preview">
                <h2><a href="#">Ionias Call</a></h2>
                <i>Asukita on bullies</i>
                &nbsp;
                <i>May 2020</i>
                <p class="text-preview">Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Itaque obcaecati
                    quibusdam, fugiat sit ab voluptate perspiciatis
                    error alias fugit quisquam deserunt libero. Minima
                    hic iusto quas ex repellat pariatur sed?</p>
                <a href="#" class="btn read-more">Read more</a>
            </div>
        </div>
        <div class="news-post">
            <img src="../../../assets/img/ASD.JPG" alt="" class="post-img">
            <div class="news-preview">
                <h2><a href="#">New days are coming</a></h2>
                <i>Asukita on bullies</i>
                &nbsp;
                <i>May 2020</i>
                <p class="text-preview">Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Itaque obcaecati
                    quibusdam, fugiat sit ab voluptate perspiciatis
                    error alias fugit quisquam deserunt libero. Minima
                    hic iusto quas ex repellat pariatur sed?</p>
                <a href="#" class="btn read-more">Read more</a>
            </div>
        </div>
        <div class="sidebar">

        </div>
    </div>
</div>