body {
    margin: 0;
  }

  a {
    color: #0aaff1;
    text-decoration: none;
  }

  .h1,
  h1 {
    font-size: 29px;
  }

  p {
    margin: 0 0 11px;
  }

  *,
  ::after,
  ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body * {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern"1;
    font-feature-settings: "kern"1;
  }

  * {
    -webkit-font-smoothing: subpixel-antialiased;
  }

  *,
  ::after,
  ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  h1 {
    font-size: 2em;
    margin: .67em 0;
  }

  a {
    background-color: transparent;
  }

  hr {
    margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    border-top: 1px solid #eee;
  }

  .h2,
  h2 {
    font-size: 24px;
  }

  img {
    border: 0;
  }

  hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0px;
  }

  img {
    vertical-align: middle;
  }

  img {
    vertical-align: top;
  }

  b,
  strong {
    font-weight: 700;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }

  .h1,
  .h2,
  .h3,
  h1,
  h2,
  h3 {
    margin-top: 22px;
    margin-bottom: 11px;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

  button,
  html input[type=button],
  input[type=reset],
  input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
  }

  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  footer {
    clear: both;
  }

  button,
  select {
    text-transform: none;
  }

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }

  input {
    line-height: normal;
  }

  button {
    overflow: visible;
  }

  body,
  html {
    background-color: #2a2a2a;
  }

  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  .ue-react {
    background-color: #fff;
    font-size: 16px;
  }

  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.4285;
    color: #fff;
    background-color: #fff;
  }

  html {
    width: 100%;
  }

  body {
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
  }

  html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body .blog-wrapper {
    font-size: 16px;
  }

  .article-view {
    padding: 0;
    min-height: 60vh;
  }

  .eYmCCE {
    min-height: 540px;
    background: #333;
    overflow: hidden;
  }

  .eYmCCE>* {
    text-align: center;
  }

  .hXkprY {
    height: 540px;
    width: 50%;
    display: inline-block;
    -webkit-transition: opacity 800ms ease-out, -webkit-transform 600ms ease-out;
    -webkit-transition: opacity 800ms ease-out, transform 600ms ease-out;
    transition: opacity 800ms ease-out, transform 600ms ease-out;
    color: #f5f5f5;
    padding: 30px 100px;
  }

  .hXkprY.cta {
    float: left;
    -webkit-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    transform: translateX(-15%);
    background: #333;
  }

  .hXkprY.newsletter {
    float: right;
    -webkit-transform: translateX(15%);
    -ms-transform: translateX(15%);
    transform: translateX(15%);
    background: #444;
  }

  .hXkprY form {
    max-width: 500px;
    margin: 0 auto;
  }

  .eYmCCE.runAnimation .cta,
  .eYmCCE.runAnimation .newsletter {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0);
    transform: translateX(0px);
  }

  .eYmCCE .heading {
    opacity: 0;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity 800ms ease-out;
    transition: opacity 800ms ease-out;
  }

  .eYmCCE.runAnimation .heading {
    opacity: 1;
  }

  .hXkprY h1 {
    color: #fff;
    font-size: 2.6em;
    font-family: Brutal_Light, Open Sans, arial;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .dpjKgH {
    font-size: 16px;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .dpjKgH .privacy-link {
    font-size: 12px;
  }

  .dpjKgH .privacy-link a {
    color: #0aaff1;
    -webkit-text-decoration: none;
    text-decoration: none;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }

  body button {
    font-family: OpenSans, sans-serif;
  }

  .btn {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.4285;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .btn-primary {
    color: #fff;
    background-color: #0aaff1;
    border-color: #099dd9;
  }

  .edatHa.btn {
    line-height: 1;
  }

  :not(.btn-blank).edatHa.btn {
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
    font-family: Brutal_Regular, Open Sans, arial;
    max-width: 450px;
    padding: 15px 35px;
    margin: 5px;
    border-radius: 2px;
    border: 2px solid #fff;
    -webkit-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  }

  :not([disabled]).edatHa.btn {
    cursor: pointer;
  }

  .edatHa.btn.btn-secondary {
    background-color: rgba(17, 17, 17, 0.1);
    border-color: #0aaff1;
    color: #fff;
  }

  .hXkprY.cta .btn {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  /* @media all and (min-width:36em) */
  :not(.btn-blank):not(.btn-showcase).edatHa.btn {
    min-width: 240px;
  }

  .edatHa.btn i:not(.btn-showcase):nth-child(1) {
    margin-right: 1em;
    float: left;
  }

  .gPZsGi p {
    max-width: 100%;
    font-size: 13px;
    line-height: 17px;
  }

  .hXkprY p {
    max-width: 70%;
    margin: 4px auto;
    line-height: 1.3em;
  }

  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
    float: left;
  }

  .col-xs-12 {
    width: 100%;
  }

  .buOsEh {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .dRxyr {
    position: relative;
  }

  .dpjKgH .form-group {
    width: 100%;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
  }

  .kpHQfv {
    display: none;
    color: #ed1c24;
    padding: 0 0 10px;
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 0.78em !important;
  }

  .form-control,
  output {
    display: block;
    font-size: 16px;
    line-height: 1.4285;
    color: #555;
  }

  .form-control {
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  }

  .bxnCZX {
    border-radius: 2px;
    padding: 25px 15px 5px;
    background: none;
    font-size: 1.14em;
    font-family: Brutal_Regular, sans-serif;
    border-color: #aeaeae;
    border-bottom-width: 1px;
    border-right-width: 1px;
    margin: 0 0 20px 0;
    height: auto;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: none;
    color: white;
  }

  .buOsEh input,
  .buOsEh select {
    width: 100%;
  }

  .nZaRC select {
    margin-top: -2px;
    height: 55px !important;
    line-height: 22px !important;
    outline: none;
    width: 100%;
    color: #555;
    margin-bottom: 15px;
    padding: 22px 15px 10px;
    text-transform: capitalize;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #aeaeae;
    -webkit-appearance: none;
    background: #fff;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    -moz-appearance: none;
  }

  .hXkprY .form input,
  .hXkprY .form select {
    color: #fff;
  }

  .hXkprY .form .select-div select {
    background: none;
  }

  .xtDmV {
    font-size: 1em;
    font-family: Brutal_Light, sans-serif;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 18px;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    color: #aeaeae;
  }

  .nZaRC .control-label {
    font-size: 1em;
    font-family: Brutal_Light, sans-serif;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 15px;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    color: #aeaeae;
  }

  .nZaRC .chevron {
    content: "";
    position: absolute;
    bottom: 22px;
    right: 28px;
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000;
    pointer-events: none;
    z-index: 8;
  }

  .hXkprY .form .select-div .chevron {
    border-top-color: #f5f5f5 !important;
  }

  .hXkprY .form input option,
  .hXkprY .form select option {
    color: black;
  }

  .hXkprY h2 {
    color: #fff;
    font-size: 1.2em;
    font-family: Brutal_Light, Open Sans, arial;
    margin-bottom: 10px;
    margin-top: 18px;
  }

  .hXkprY p.top {
    margin: 0 auto 10px;
  }

  .edatHa.btn.btn-primary {
    background-color: #0aaff1;
    border-color: #0aaff1;
    color: #fff;
  }

  .blog-container {
    overflow-x: hidden;
  }

  .blog-container.no-image {
    overflow: hidden;
    background-position-y: 0px;
  }

  .blog-container .blog-header {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
    overflow: hidden;
  }

  .blog-container.no-image .blog-header {
    height: auto;
  }

  .blog-article {
    padding-top: 0;
  }

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .blog-article .blog-content {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    color: #000;
    max-width: 1000px;
    margin: 0 auto 50px;
    min-height: 50vh;
    padding: 10px;
  }

  .prev-link-wrap {
    background-color: #1e1e1e;
    clear: both;
    font-size: 20px;
    overflow: hidden;
    padding: 15px 30px;
    min-height: 60px;
  }

  .blog-container a {
    text-decoration: none;
    color: #10b4f5;
  }

  .blog-article a,
  .cms a {
    text-decoration: none;
    color: #10b4f5;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }

  .prev-link-wrap .slug-link {
    position: absolute;
    z-index: 0;
    width: auto;
    left: 50%;
    margin-top: 0.2em;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .ue-react a:active,
  .ue-react a:focus,
  .ue-react a:hover,
  .ue-react a:visited {
    text-decoration: none;
  }

  [class*=' epic-blog-icon-'],
  [class^=epic-blog-icon-] {
    font-family: icomoon-react-blog !important;
    speak-as: none;
    font-style: normal;
    font-weight: 400;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .blog-article .blog-content article {
    clear: both;
  }

  .blog-article .blog-content .cmsContainer {
    position: relative;
  }

  .blog-article .recentPostContainer {
    margin: 5em auto 0;
  }

  .ue-react .comment-wrapper .button-wrapper {
    text-align: center;
  }

  .ue-react .studio-cta-button,
  .ue-react .ue-cta-button,
  .ue-react .ue-secondary-button {
    font-size: 12px;
    padding: 17px 28px;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
    text-transform: uppercase;
    -webkit-transition: background-color .3s ease-in-out, padding .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out, padding .3s ease-in-out;
    transition: background-color .3s ease-in-out, padding .3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
  }

  .ue-react .studio-cta-button,
  .ue-react .ue-cta-button {
    background: #0aaff1;
    border: 0;
    -webkit-transition: background .2s linear, border-color .2s linear, color .2s linear;
    -o-transition: background .2s linear, border-color .2s linear, color .2s linear;
    transition: background .2s linear, border-color .2s linear, color .2s linear;
  }

  .ue-react .studio-cta-button.button-lg,
  .ue-react .ue-cta-button.button-lg {
    padding: 25px 50px;
    font-size: 1em;
    font-family: Brutal_Medium, sans-serif;
    font-weight: 600;
    border-radius: 2px;
  }

  .ue-react .comment-wrapper .button-wrapper button.ue-cta-button.button-lg {
    padding: 15px 25px;
    margin: 60px;
    border: 1px solid #ccc;
    background: none;
    color: #aaa;
    font-family: Brutal_Regular, sans-serif;
  }

  .blog-article h1,
  .blog-article h2,
  .cms h1,
  .cms h2 {
    font-weight: 400;
  }

  .blog-article h2,
  .cms h2 {
    font-size: 1.4em;
  }

  .blog-article .recentPostContainer .recent-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.75em;
    font-weight: 700;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  /* @media all and (min-width:768px) */
  .container {
    width: 750px;
  }

  /* @media all and (min-width:992px) */
  .container {
    width: 970px;
  }

  /* @media all and (min-width:1200px) */
  .container {
    width: 1170px;
  }

  /* @media only screen and (min-width:1200px) */
  .container,
  .ue-react.container {
    width: 1230px;
  }

  .activityGridRow {
    position: relative;
  }

  /* @media all and (min-width:1200px) */
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .blog-container .container {
    padding: 0;
  }

  .blog-article .blog-content .content-grid-row {
    clear: both;
    width: 100%;
  }

  /* @media screen and (max-width:1600px) */
  .blog-article .blog-content .content-grid-row {
    width: auto;
  }

  .activityGridRow .row.match-heights {
    overflow: hidden;
  }

  .blog-article .blog-content .content-grid-row .content-toss-container .content-toss {
    margin: 0 auto;
  }

  .col-xs-4 {
    width: 33.33%;
  }

  @media screen and (max-width:760px){
    .col-xs-4{
        width: 100%;
    }
}

  .activityGridRow .activity-item {
    border-right: 1px solid #ccc;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .blog-article .recentPostContainer .content-toss-item {
    border: none;
  }

  .activityGridRow :last-child.activity-item {
    border-right: none;
  }

  .activityGridRow .row.match-heights [class*=col-xs-] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }

  .activityGridRow .activity-item .headline {
    margin-top: 0px;
    margin-bottom: 0.3em;
    font-size: 1.3em;
  }

  .blog-article .recentPostContainer .byline,
  .blog-article .recentPostContainer .short {
    display: none;
  }

  .activityGridRow .activity-item .short {
    line-height: 1.5;
    font-size: 14px;
  }

  .activityGridRow .activity-item .headline a {
    line-height: 1.2;
    color: #000;
    font-family: Brutal_Medium, sans-serif;
    font-weight: 700;
  }

  .blog-article .content-grid-row .content-toss-container .content-toss .content-toss-item .headline a {
    font-size: 16px;
  }

  .activityGridRow .activityGridRow-date {
    font-size: 0.8em;
  }

  .activityGridRow .activity-item .image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-bottom: 1.5em;
  }

  .activityGridRow .activity-item .image.hide-category {
    margin-bottom: 0.5em;
  }

  .blog-article .content-grid-row .content-toss-container .content-toss .content-toss-item .image {
    margin-bottom: 1em;
  }

  .blog-social {
    position: absolute;
    top: 11.5em;
    margin-left: -6em;
    z-index: 998;
    opacity: 1;
  }

  .blog-social.bottom {
    top: auto;
    bottom: 0px;
  }

  .blog-article .blog-content .blog-header-info {
    margin-bottom: 0.75em;
  }

  .blog-article .cms {
    padding-top: 0.5em;
    font-family: Brutal_Regular, sans-serif;
    font-size: 17px;
    margin: 17.5px auto;
    clear: both;
  }

  .blog-article .blog-content article strong {
    font-family: OpenSans, sans-serif;
  }

  .blog-article hr,
  .cms hr {
    opacity: 0.8;
    margin: 1em 0;
    border-color: #e2e3e4;
    border-top: 2px solid #e2e3e4;
  }

  .blog-article img,
  .cms img {
    max-width: 100%;
    height: auto !important;
    margin: 2em 0;
  }

  .blog-container .lightbox-enabled img {
    cursor: pointer;
    border: 1px solid transparent;
  }

  .blog-container .lightbox-enabled img,
  .blog-container .lightbox-enabled img:hover {
    -webkit-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out;
  }

  .blog-article .blog-content .blog-header-info hr {
    border-color: #e2e3e4;
    opacity: 1;
    margin: .5em 0;
  }

  .tag-section {
    margin: 0;
  }

  .blog-article p,
  .cms p {
    line-height: 2;
    font-family: Brutal_Regular, sans-serif;
    font-size: 17px;
    margin: 17.5px auto;
  }

  .blog-social .social-count {
    text-align: center;
    font-size: 0.85em;
    font-weight: 700;
    vertical-align: middle;
  }

  .blog-article .blog-content p {
    word-wrap: break-word;
  }

  .tag-section .tag-link .tag {
    color: #000;
    font-family: Brutal_Medium;
    display: inline-block;
    text-transform: capitalize;
    font-size: 0.87em;
    margin: 0;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    background-color: #e8e8e8;
    border-radius: 2px;
    padding: .25em .75em;
  }

  .tag-section a:not(:last-child) .tag {
    margin: 0 .5em .5em 0;
    padding: .25em .75em;
  }

  .blog-article h1,
  .cms h1 {
    font-size: 2em;
    color: #000;
    margin-bottom: 1em;
  }

  .blog-article .blog-content .blog-header-info .blog-header-title {
    font-family: Brutal_Bold, sans-serif;
    font-size: 2.8em;
    line-height: 1;
    margin: 20px auto;
  }

  .blog-article .blog-content .blog-header-info .blog-header-date {
    font-family: Brutal_Medium, sans-serif;
    font-size: 1em;
  }

  .blog-social i {
    color: #fff;
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    opacity: 1;
    padding: .5em;
    cursor: pointer;
    margin: .5em auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
  }

  .blog-social i.facebook {
    background-color: #236293;
  }

  .blog-social i.twitter {
    background-color: #38ace0;
  }

  .blog-social i.linkedin {
    background-color: #0077b5;
  }

  .blog-social i.reddit {
    background-color: #ff8558;
  }

  .blog-social i.tumblr {
    background-color: #36465d;
  }

  .blog-social .social-count .count {
    display: block;
    font-weight: 700;
  }

  .blog-social .social-count .social-count-subtext {
    font-weight: 400;
  }