<div class="ue-react" id="ueReactWrapper">
  <div class="ue-app">
    <div class="blog-wrapper">
      <div class="article-view" id="articleView">
        <div class="blog-container no-image">
          <div class="blog-header"></div>
          <section class="blog-article">
            <div class="blog-content container-fluid">
              <article>
                <div class="recentPostContainer">
                  <h2 class="recent-title title-border"><span>Recent Posts<span class="line"></span></span></h2>
                  <div class="container activityGridRow content-grid-row">
                    <div class="row match-heights content-toss-container">
                      <div class="content-toss">
                        <div class="activity-item col-xs-4 content-toss-item __post__"
                          id="qa-make-games-for-a-chance-to-win-awesome-prizes-during-2020-s-unreal-spring-jam">
                          <a class="image-link"
                            id="news-sm_img-make-games-for-a-chance-to-win-awesome-prizes-during-2020-s-unreal-spring-jam"
                            [routerLink]="['/news/details']">
                            <div title="" class="image hide-category"
                              style='background-image: url("https://cdn2.unrealengine.com/Unreal+Engine%2Fblog%2Fmake-games-for-a-chance-to-win-awesome-prizes-during-2020-s-unreal-spring-jam%2FNEWS_UNREALSPRINGJAM_FEED_THUMB-1400x788-ed6c4335da6be506152fd49e20c8a840755cfad8.jpg");'>
                            </div>
                          </a>
                          <div class="hide-category __post-category__"><span class="activityGridRow-date __post-date__"
                              data-date_="May 27, 2020">May 27, 2020</span></div>
                          <h2 class="headline __post-title__ hide-category"><a class="accent-hover-color title-case"
                              id="undefinedmake-games-for-a-chance-to-win-awesome-prizes-during-2020-s-unreal-spring-jam"
                              [routerLink]="['/news/details']">Make
                              games for a chance to win awesome prizes during 2020’s
                              Unreal Spring Jam</a></h2>
                          <div class="short __post-short__">2020’s Unreal Spring Jam takes
                            place between June 4-9 and offers chances to...</div>
                        </div>
                        <div class="activity-item col-xs-4 content-toss-item __post__"
                          id="qa-finding-funding-so-you-need-some-money-to-make-a-video-game">
                          <a class="image-link"
                            id="news-sm_img-finding-funding-so-you-need-some-money-to-make-a-video-game"
                            [routerLink]="['/news/details/01']">
                            <div title="" class="image hide-category"
                              style='background-image: url("https://cdn2.unrealengine.com/Unreal+Engine%2Fblog%2Ffinding-funding-so-you-need-some-money-to-make-a-video-game%2FFEED_THUMB_FindingTheFunding_Part1-1400x788-387abf1d2bd02c92259121580de372da8f7c3688.jpg");'>
                            </div>
                          </a>
                          <div class="hide-category __post-category__"><span class="activityGridRow-date __post-date__"
                              data-date_="May 26, 2020">May 26, 2020</span></div>
                          <h2 class="headline __post-title__ hide-category"><a class="accent-hover-color title-case"
                              id="undefinedfinding-funding-so-you-need-some-money-to-make-a-video-game"
                              [routerLink]="['/news/details/01']">Finding
                              Funding: So you need some money to make a video
                              game…</a></h2>
                          <div class="short __post-short__">Before you start pitching your
                            studio or project, it’s important to underst...</div>
                        </div>
                        <div class="activity-item col-xs-4 content-toss-item __post__"
                          id="qa-unearth-savings-up-to-70-during-the-unreal-engine-marketplace-spring-sale">
                          <a class="image-link"
                            id="news-sm_img-unearth-savings-up-to-70-during-the-unreal-engine-marketplace-spring-sale"
                            href="/en-US/blog/unearth-savings-up-to-70-during-the-unreal-engine-marketplace-spring-sale">
                            <div title="" class="image hide-category"
                              style='background-image: url("https://cdn2.unrealengine.com/Unreal+Engine%2Fblog%2Funearth-savings-up-to-70-during-the-unreal-engine-marketplace-spring-sale%2FFeed_Thumbnail_Desktop-1400x788-6fd26990173817874bebe6e4fec0d0fc89606746.jpg");'>
                            </div>
                          </a>
                          <div class="hide-category __post-category__"><span class="activityGridRow-date __post-date__"
                              data-date_="May 25, 2020">May 25, 2020</span></div>
                          <h2 class="headline __post-title__ hide-category"><a class="accent-hover-color title-case"
                              id="undefinedunearth-savings-up-to-70-during-the-unreal-engine-marketplace-spring-sale"
                              href="/en-US/blog/unearth-savings-up-to-70-during-the-unreal-engine-marketplace-spring-sale">
                              Unearth savings up to 70% during the Unreal Engine
                              Marketplace Spring Sale</a></h2>
                          <div class="short __post-short__">Make development a breeze with
                            construction kits, character collections, fl...</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <footer>
                  <div class="comment-wrapper">
                    <div class="button-wrapper"><button class="ue-cta-button button-lg"><span>More News</span></button>
                    </div>
                  </div>
                </footer>
              </article>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>