<div class="home-container">
    <div class="fullscreen-video-wrap">
        <video id="video-bg" autoplay playinline loop width="1440" height="810">
            <source src="../../../assets/img/video-studio.mp4" type="video/mp4">
        </video>
    </div>
    <div class="overlay"></div>

    <div class="row">
        <div class="col-md-8">
            <div class="home-content">
                <br><br><br><br><br><br><br>
                <img src="../../../assets/img/asd_small.png" alt="" width="240">
                <br><br><br><br><br><br><br>
                
                <h1 class="ue4font">ASD STUDIOS</h1>
                <br>
                <p>We make our games.</p>
                <br><br><br><br>
                <a href="#" class="btn read-more">Read more</a>
                <br><br><br><br>
            </div>
        </div>
    </div>

</div>

