<div class="home-container">
    <div class="fullscreen-video-wrap">
        <video id="video-bg" [muted]="true" autoplay playinline loop width="1440" height="810">
            <source src="../../../assets/img/video-studio.mp4" type="video/mp4">
        </video>
    </div>
    <div class="overlay"></div>

    <div class="row">
        <div class="col-md-8">
            <div class="home-content">
                <br><br><br><br><br><br><br>
                <img src="../../../assets/img/asd_small.png" alt="" width="240">
                <br><br><br><br><br><br><br>

                <h1 class="ue4font">ASD STUDIOS</h1>
                <br>
                <p>We make our games.</p>
                <br><br><br><br>
                <a href="#" class="btn read-more">Read more</a>
                <br><br><br><br>
            </div>
        </div>
    </div>


</div>

<div class="home-container">
    <br>
    <div class="row">
        <div class="container">
            <a href="https://www.unrealengine.com/en-US/" target="_blank">
                <img src="../../../assets/img/services/ue4.png" alt="" class="home-service-img"></a>
            <a href="https://www.mongodb.com/" target="_blank"><img src="../../../assets/img/services/mongodb.png" alt=""
                    class="home-service-img"></a>

        </div>
    </div>
    <div class="row">
        <div class="container">
            <a href="https://aws.amazon.com/" target="_blank"><img src="../../../assets/img/services/aws.png" alt="" width="200"
                    height="100"></a>
            <a href="https://aws.amazon.com/gamelift/" target="_blank"><img src="../../../assets/img/services/gamelift.png" alt=""
                    class="home-service-img"></a>
            <a href="https://aws.amazon.com/dynamodb/" target="_blank"><img src="../../../assets/img/services/dynamodb.png" alt=""
                    class="home-service-img"></a>
            <a href="https://aws.amazon.com/lambda/" target="_blank"><img src="../../../assets/img/services/lambda.png" alt=""
                    class="home-service-img"></a>
            <a href="https://aws.amazon.com/ec2/" target="_blank"><img src="../../../assets/img/services/ec2.png" alt=""
                    class="home-service-img"></a>
            <a href="https://aws.amazon.com/s3/" target="_blank"><img src="../../../assets/img/services/s3.png" alt=""
                    class="home-service-img"></a>
            


        </div>
    </div>
    <br>
</div>