<div class="container">
  <div class="row">
    <h2 class="title-border">
      <span>Ionias call<span class="line"></span></span></h2>
  </div>
</div>
<!--
<div class="container">
  <div class="row">
    <div class="column-container">
      <div class="column-2-left">

        <img src="../../../assets/img/services/asukita.jpg" alt="" class="game-img landscape">

      </div>
      <div class="column-2-right">
        <div class="game-desc-container">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias modi obcaecati vel, odio laboriosam,
          exercitationem laborum veniam eius magni dolore sunt eligendi? Hic amet, velit deserunt in earum quisquam
          illo?
        </div>
        <div class="game-desc-container">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias modi obcaecati vel, odio laboriosam,
          exercitationem laborum veniam eius magni dolore sunt eligendi? Hic amet, velit deserunt in earum quisquam
          illo?
        </div>
        <div class="game-desc-container">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias modi obcaecati vel, odio laboriosam,
          exercitationem laborum veniam eius magni dolore sunt eligendi? Hic amet, velit deserunt in earum quisquam
          illo?
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <iframe width="857" height="482" src="https://www.youtube.com/embed/sXSBcVkfvcI" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>">

</div>
-->
