<div class="container">
    <div class="row">
        <h2 class="title-border">
            <span>What we do<span class="line"></span></span></h2>
        <div class="column-container column-1"><br></div>
        <div class="column-container column-3">
            <h2>Undeniable Passion</h2>
            <br>
            <p>We’ve been developing video games for 18 years and launched
                over 30.We are experts in the industry and work with commercial engines as well as
                develop custom solutions. Above all else, we pride ourselves on being resourceful and
                finding creative solutions to complex problems during the development cycle.</p>
        </div>
        <div class="column-container column-3">
            <h2>Undeniable Passion</h2>
            <br>
            <p>Led by our team of seasoned developers and business
                professionals, we have over 80 staff who live and breathe video games. Combining that
                passion with a philosophy of project ownership and fostering an environment of
                innovation and creativity, creates a work place in which we all thrive.</p>
        </div>
        <div class="column-container column-3">
            <h2>Undeniable Passion</h2>
            <br>
            <p>We are committed to investing in continuous learning at every
                level in the company. Not only do we focus on developing individual skills, we also
                research, learn and implement the latest software programs and technical knowhow in game
                development to ensure delivery of benchmark services and products every time.</p>
        </div>
    </div>


    <div class="row">
        <div class="row">
            <h2 class="title-border">
                <span>Our team<span class="line"></span></span></h2>

            <br>
            <img src="../../../assets/img/deer.png" alt="" width="240">
            <br><br>
            <p>El burro</p>

    </div>
</div>