<header>
  <div class="logo">
    <a class="brand" [routerLink]="['']">ASD Gaming</a>
  </div>
  <ul class="nav">
    <li><a [routerLink]="['/news']" [routerLinkActive]="['actived']">News</a></li>
    <li><a [routerLink]="['/projects']" [routerLinkActive]="['actived']">Projects</a></li>
    <li><a [routerLink]="['/about']" [routerLinkActive]="['actived']">About</a></li>
    <li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']">Contact</a></li>
  </ul>
</header>

<router-outlet></router-outlet>
  

<div class="footer">
  <div class="footer-top">
    <a href="#"><span href="https://twitter.com"><i class="fab fa-twitter social-icon"></i></span></a>
    <a href="#"><span><i class="fab fa-facebook-f social-icon"></i></span></a>
    <a href="#"><span><i class="fab fa-linkedin social-icon"></i></span></a>
    <a href="#"><span><i class="fab fa-youtube social-icon"></i></span></a>
    <a href="#"><span><i class="fab fa-instagram social-icon"></i></span></a>
    <a href="#"><span><i class="fab fa-twitch social-icon"></i></span></a>
  </div>
  <div class="footer-content">

  </div>
  <div class="footer-bottom">
    © 2020, ASD Gaming, Inc. All rights reserved.
  </div>

</div>