<header>
  <div class="logo">
    <a class="brand" href="#">ASD Gaming</a>
  </div>
  <ul class="nav">
    <li><a [routerLink]="['/home']" [routerLinkActive]="['actived']">Home</a></li>
    <li><a [routerLink]="['/news']" [routerLinkActive]="['actived']">News</a></li>
    <li><a [routerLink]="['/projects']" [routerLinkActive]="['actived']">Projects</a></li>
    <li><a [routerLink]="['/about']" [routerLinkActive]="['actived']">About</a></li>
    <li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']">Contact</a></li>
  </ul>
</header>

<router-outlet></router-outlet>
  

<div class="footer">
  <div class="footer-top">
    <span href="https://twitter.com"><i class="fab fa-twitter"><a></a></i></span>
    <span><i class="fab fa-facebook-f"></i></span>
    <span><i class="fab fa-linkedin"></i></span>
    <span><i class="fab fa-youtube"></i></span>
    <span><i class="fab fa-instagram"></i></span>
    <span><i class="fab fa-twitch"></i></span>
  </div>
  <div class="footer-content">

  </div>
  <div class="footer-bottom">
    © 2020, ASD Gaming, Inc. All rights reserved.
  </div>

</div>