<div class="ue-react" id="ueReactWrapper">
  <div class="ue-app">
    <div class="blog-wrapper">
      <div class="article-view" id="articleView">
        <div class="blog-container no-image">
          <div class="blog-header"></div>
          <section class="blog-article">
            <div class="blog-content container-fluid">
              <article>
                <div class="cmsContainer">
                  <div class="blog-social bottom">
                    <p class="social-count"><span class="count">21</span><span
                        class="social-count-subtext">Shares</span></p><i class="epic-blog-icon-facebook facebook"
                      role="presentation"></i><i class="epic-blog-icon-twitter twitter" role="presentation"></i><i
                      class="epic-blog-icon-linkedin linkedin" role="presentation"></i><i
                      class="epic-blog-icon-reddit reddit" role="presentation"></i><i
                      class="epic-blog-icon-tumblr tumblr" role="presentation"></i>
                  </div>
                  <div class="blog-header-info">
                    <div class="row">
                      <div class="col-xs-12"><span class="blog-header-date">April 20,
                          2020</span></div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <h1 class="blog-header-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                      </div>
                    </div>
                    <div class="row">
                      <div class="tag-section col-xs-12">
                        <span class="clickable" role="presentation">
                          <div class="ContentTypeLabel__FeedContentType-sc-1o1ak6n-0 bGfSMe feed-content-type blog"
                            style="max-width: 100px; background-color: rgb(0, 173, 239);">News<div class="label-bg">
                            </div>
                          </div>
                        </span>
                        &nbsp;
                        <span class="clickable" role="presentation">
                          <div class="ContentTypeLabel__FeedContentType-sc-1o1ak6n-0 bGfSMe feed-content-type tech-blog"
                            style="max-width: 100px; background-color: rgb(196, 118, 36);">Tech
                            Blog<div class="label-bg"></div>
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="row"></div>
                    <hr>
                  </div>
                  <section class="cms lightbox-enabled" id="cmsSection">Although many physical
                    events around the world are on hold, there are plenty of places to connect
                    with the Unreal Engine community online. From forums, to webinars,
                    livestreams and full-on virtual events, our community of creators is
                    continually staying active.<br>
                    <br>
                    Below is a listing of permanent resources and online activities that we’d
                    love to invite you to. Please check this post often as it will be updated in
                    an ongoing fashion with newly-added events.
                    <div style="text-align:center"><img style="height:auto; width:auto"
                        alt="UE_Community_Online_Feed-thumb-desktop.png"
                        src="https://cdn2.unrealengine.com/Unreal+Engine%2Fblog%2Fconnect-with-the-unreal-engine-community-online%2FUE_Community_Online_Feed-thumb-desktop-1400x788-a6917dba2f2cc41cc1426a3afdff135521cea738.png"
                        data-idx="0"></div>

                    <h2><strong>PERMANENT, FREE RESOURCES</strong></h2>
                    <a href="https://www.unrealengine.com/support" target="_blank"><strong>Support
                        and Documentation</strong></a><br>
                    From your first steps with Unreal Engine to completing your most ambitious
                    real-time project, we’re here to help. With comprehensive reference
                    documentation, instructional guides, community-based support, and options
                    for dedicated professional support, you have full access to everything you
                    need to succeed.<br>
                    <br>
                    <a href="https://www.unrealengine.com/onlinelearning-courses" target="_blank"><strong>Unreal
                        Online
                        Learning</strong></a><br>
                    This growing catalog of nearly 50 courses and guided learning paths tracks
                    your progression and awards your achievements, whether your spending your
                    first hours in tools such as Sequencer or brushing up on your visualization
                    skills.<br>
                    <br>
                    <a href="https://www.youtube.com/channel/UCBobmJyzsJ6Ll7UbfhI4iwQ" target="_blank"><strong>Unreal
                        Engine on YouTube</strong></a><br>
                    Here's where you'll find archives of Inside Unreal, live training, and other
                    broadcasts from our <a href="https://www.twitch.tv/unrealengine" target="_blank">Twitch</a>
                    channel;
                    tech talks from GDC, Unreal Fest
                    Europe, and other conferences; and so much more.<br>
                    <br>
                    <strong><a href="https://www.unrealengine.com/en-US/events/webinar-series" target="_blank">Webinar
                        Series</a></strong><br>
                    Check out our free webinars to learn all about the latest Twinmotion
                    features and workflows and how to use Unreal Engine to create photorealistic
                    scenes and interactive designs.<br>
                    &nbsp;
                    <hr>
                    <h2><strong>UNREAL EVENTS</strong></h2>
                    <br>
                    <strong>May 7, 2020 | <a
                        href="https://forums.unrealengine.com/unreal-engine/events/1755035-inside-unreal-spyder-from-day-zero-to-post-launch"
                        target="_blank">INSIDE UNREAL: Spyder: From Day Zero to
                        Post-Launch</a></strong><br>
                    We're excited to have Sumo Digital on Inside Unreal this week! The team
                    behind the Spy-on-The-Wall adventure game Spyder talks about their journey
                    from day zero to the weeks after launch. Learn more about the mobile Apple
                    Arcade game, as well as how the team overcame difficult challenges during
                    its production—including the experience of launching a game from home.<br>
                    <br>
                    <strong>May 29, 2020 | 2pm ET - <a
                        href="https://forums.unrealengine.com/unreal-engine/events/1768024-unreal-educator-livestream-series-virtual-production-for-the-classroom-friday-may-29-2-00-pm-et"
                        target="_blank">Unreal Educator Livestream Series: Virtual
                        Production for the Classroom</a></strong><br>
                    This week, we are pleased to welcome Matt Workman, producer and host of the
                    <a href="https://www.youtube.com/user/cinematographydb" target="_blank">Cinematography
                      Database</a>
                    channel on YouTube.com, and
                    moderator of the <a href="https://www.facebook.com/groups/virtualproduction/"
                      target="_blank">Virtual Production Facebook group</a>, a popular group
                    frequented by top professionals in the field. During the stream, we will
                    discuss a variety of processes that Matt went through as he immersed himself
                    into the world Virtual Production as an independent developer with limited
                    means, all the while documenting his findings and sharing it with the
                    learning community.<br>
                    &nbsp;
                    <hr>
                    <h2><strong>ADDITIONAL EVENTS</strong></h2>
                    Members of our team often perform presentations, sit in on panel
                    discussions, or otherwise share their insight while participating in a
                    variety of online events. Here are some events where Epic plans to have a
                    presence.<br>
                    <br>
                    <strong><a href="https://www.awexr.com/" target="_blank">AWE</a></strong><br>
                    Get awe-inspired with the best in AR/VR -- now fully online from May 26-29,
                    2020. <a
                      href="https://augmentedworldexpo.secure.force.com/BuyTicket?id=7011H000000ypzO&amp;__hstc=236398302.aaa4a43e8e4309bf5239d031331d5b85.1578939614506.1588861528455.1589294573334.23&amp;__hssc=236398302.1.1589294573334&amp;__hsfp=3853071260&amp;_ga=2.122877774.439324939.1589294573-1518862469.1578939613"
                      target="_blank">Register now</a> to view presentations from Unreal
                    Engine experts in the realms of 5G and spatial computing technologies,
                    virtual production, and simulation technologies.<br>
                    <br>
                    Marc Petit, General Manager of Unreal Engine, presents: <a
                      href="https://www.awexr.com/usa-2020/agenda/1285-what-s-next" target="_blank">What's
                      Next?</a><br>
                    David Morin, Industry Manager for Film &amp; TV, presents: <a
                      href="https://www.awexr.com/usa-2020/agenda/1773-creating-in-camera-vfx-with-real-time-workflows"
                      target="_blank">Creating In-Camera VFX with Real-Time Workflows</a><br>
                    Sebastien Loze, Industry Manager for Training and Simulation, co-presents
                    with Myra LalDin, CEO of Perspectives: <a
                      href="https://www.awexr.com/usa-2020/agenda/1579-learning-by-living-memorable-virtual-experiences"
                      target="_blank">Learning by Living Memorable Virtual Experiences</a><br>
                    <br>
                    <strong><a href="https://www.nvidia.com/gtc/" target="_blank"><strong>NVIDIA
                          GTC Digital</strong></a></strong><br>
                    GTC Digital is a training, research, insights, and direct access to the
                    brilliant minds of NVIDIA’s GPU Technology Conference, now online. Epic
                    Games' Film &amp; TV industry manager, David Morin, presented: <em><a
                        href="https://developer.nvidia.com/gtc/2020/video/s22160" target="_blank">Creating In-Camera
                        VFX
                        with Real-Time
                        Workflows</a></em>, now available on demand.<br>
                    <br>
                    <strong><a href="http://www.c4dlive.com/" target="_blank"><strong>C4D
                          Live</strong></a></strong><br>
                    In light of the cancellation of the 2020 NAB Show, Maxon hosted a virtual
                    NAB presence on C4DLive.com featuring an incredible line-up of presenters.
                    Epic Senior Technical Product Designer Andy Blondin gave a 25-minute virtual
                    presentation: <a href="https://youtu.be/tipehpvKHzE" target="_blank"><em>Blurring the Lines
                        between
                        Film, Television, and
                        Games</em></a>, now available on demand.<br>
                    <br>
                    <strong><a href="https://nabshow.com/express/" target="_blank">NAB Show
                        Express</a></strong><br>
                    On Wednesday, May 13, Miles Perkins, Business Development Manager for Film
                    &amp; TV, participated in a panel: <a
                      href="https://dir.nabshowexpress.com/8_0/sessions/session-details.cfm?scheduleid=1713"
                      target="_blank">How is Virtual Production Changing Television?</a> To
                    watch the archived recording, <a href="https://dir.nabshowexpress.com/8_0/login/login.cfm"
                      target="_blank">register for a free account</a>.<br>
                    &nbsp;
                    <hr>
                    <h2><strong>PREVIOUS UNREAL EVENTS</strong></h2>
                    <br>
                    <strong>March 26, 2020 | 9am ET &amp; 2pm ET - <a
                        href="https://www.unrealengine.com/en-US/blog/webinar-what-s-new-in-twinmotion-2020-1"
                        target="_blank"><strong>WEBINAR: What’s New in Twinmotion
                          2020.1</strong></a></strong><br>
                    We recently hosted the live webinar What’s New in Twinmotion 2020.1. The
                    replay is now available.&nbsp;In this webinar, Martin Krasemann, Twinmotion
                    Technical Marketing Specialist at Epic Games presents a deep dive into some
                    of the new Twinmotion 2020.1 features.<br>
                    <br>
                    Find out how the release brings improved fidelity and higher-quality
                    lighting, more realistic vegetation and humans, new features to review and
                    present projects, and more. <a
                      href="https://www.unrealengine.com/en-US/blog/webinar-what-s-new-in-twinmotion-2020-1"
                      target="_blank">Watch now</a>.&nbsp;<br>
                    <br>
                    <br>
                    <strong>March 26, 2020 | 2pm ET - <a
                        href="https://forums.unrealengine.com/unreal-engine/events/1728586-blender-to-unreal-tools-part-3-march-26"
                        target="_blank"><strong>INSIDE UNREAL: Blender to Unreal Tools, Part
                          3</strong></a></strong><br>
                    It's time for the third part in our "Blender to Unreal" series!<br>
                    <br>
                    In part 2 we covered how to work with Rigify and the Unreal Mannequin. We're
                    leaving Manny behind for this adventure, and will proceed to demonstrate how
                    to import custom animations, characters, and skeletons. <a href="https://youtu.be/yOELHvKqiHU"
                      target="_blank">Watch now</a>.<br>
                    <br>
                    <br>
                    <strong>April 2, 2020 | 2pm ET - <a
                        href="https://forums.unrealengine.com/unreal-engine/events/1728189-state-of-audio-in-4-25-date-tbd"
                        target="_blank"><strong>INSIDE UNREAL: State of Audio in
                          4.25</strong></a></strong><br>
                    You may have heard that we have several new exciting audio features coming
                    in 4.25, and this week we thought we’d take a look at them!<br>
                    <br>
                    To kick things off, the audio team will give a quick update on the Audio
                    Mixer. From there we will shift to discussions and demos of the Native
                    Convolution Reverb, Native Ambisonics Decoding and Encoding Support, as well
                    as the new non-real-time audio analysis plugin Synesthesia. And finally,
                    Wyeth Johnson will cap off the show with a demo on visualizing audio with
                    the Niagara Audio Data Interface. <a href="https://youtu.be/wux2TZHwmck" target="_blank">Watch
                      now</a>.<br>
                    <br>
                    <br>
                    <strong>April 2, 2020 | 9am ET &amp; 2pm ET - <a
                        href="https://www.unrealengine.com/en-US/blog/webinar-unreal-engine-and-quixel-pushing-the-boundaries-of-3d"
                        target="_blank"><strong>WEBINAR: Unreal Engine and Quixel: pushing
                          the boundaries of 3D</strong></a></strong><br>
                    Traveling the planet with a mission to build the world’s largest library of
                    scans, Quixel has sought to vastly simplify production of all digital
                    experiences. Now, since joining forces with Epic Games, this mission is
                    accelerating. &nbsp;<br>
                    <br>
                    In this presentation, Teddy Bergsman and Galen Davis demonstrated how Quixel
                    Megascans, Bridge, and Mixer 2020—along with the power of Unreal Engine—are
                    pushing the boundaries of what’s now possible with 3D. <a href="https://youtu.be/KhTPayu_YUs"
                      target="_blank">Watch
                      now</a>.&nbsp;<br>
                    <br>
                    <br>
                    <strong>April 9, 2020 | 2pm ET - <a
                        href="https://forums.unrealengine.com/unreal-engine/events/1742289-iterative-design-for-comfort-april-9"
                        target="_blank">INSIDE UNREAL - Iterative Design for
                        Comfort</a></strong><br>
                    This week we'll focus on building functionality that helps designers
                    understand what's going on in the game levels they're building. Little
                    features, like simple debug indicators in the level editor, or
                    easily-accessed Blueprint functions, can greatly increase the speed and
                    comfort of work while also reducing user error and frustration. We'll also
                    discuss how to iterate on code and design, to avoid impacting users when
                    underlying code changes take place. <a href="https://youtu.be/2YiN8r-ZwrE" target="_blank">Watch
                      now</a>.<br>
                    <br>
                    <br>
                    <strong>April 9, 2020 - May 14, 2020 - <a
                        href="https://www.unrealengine.com/en-US/blog/join-the-unreal-fast-track-student-challenge-and-learn-unreal-engine-online-this-spring"
                        target="_blank">Unreal Fast Track: Join the student
                        challenge</a></strong><br>
                    Epic Games is bringing university students from around the world together to
                    participate in the <a href="https://www.unrealengine.com/fast-track" target="_blank">Unreal Fast
                      Track</a>, a personalized way to learn
                    Unreal Engine, take part in exclusive Q&amp;As with industry professionals,
                    and get to know best practices for working on remote teams. Epic is hosting
                    an exclusive Discord hub for the initiative, which runs through May 14. <a
                      href="https://www.unrealengine.com/en-US/blog/join-the-unreal-fast-track-student-challenge-and-learn-unreal-engine-online-this-spring"
                      target="_blank">Read more</a>.<br>
                    <br>
                    &nbsp;<br>
                    <strong>April 16, 2020 | 2pm ET - <a
                        href="https://forums.unrealengine.com/unreal-engine/events/1742628-houdini-workflows-with-unreal-engine-april-16"
                        target="_blank">INSIDE UNREAL: Houdini Workflows with Unreal
                        Engine</a></strong><br>
                    Mike Lyndon from SideFX will explore how the latest iteration of the Houdini
                    Niagara data interface has simplified the process of exporting point caches
                    and added new ways of using that data in Niagara. With it, you can import
                    fluid sims, crowds or other types of static or animated caches. The second
                    half of the presentation from Paul Ambrosiussen will provide you with a
                    snapshot of the SideFXLabs toolset, and how it fits into an artists workflow
                    of creating and exporting procedural data for Unreal Engine.<br>
                    <br>
                    <br>
                    <strong>April 17, 2020 | 2pm ET - <a href="https://youtu.be/ywu4l1RTFPU" target="_blank">Unreal
                        Educator livestream series: Collaboration and
                        Teamwork in Unreal Engine</a></strong><br>
                    Join us Fridays for a brand new livestream series geared specifically
                    towards teaching and learning Unreal Engine in an academic environment. We
                    are kicking off with a topic that is essential to achieving success in
                    Unreal Engine: collaboration. Unreal Engine is designed from the ground up
                    for teams and it’s easier than you think to get started using collaborative
                    workflows. <a href="https://youtu.be/ywu4l1RTFPU" target="_blank">Watch
                      now</a>.<br>
                    <br>
                    <br>
                    <strong>April 24, 2020 | 2pm ET - <a href="https://youtu.be/k1UBeAizxkQ" target="_blank">Unreal
                        Educator livestream series: Unreal Educator’s
                        Field Guide - Tips and Tricks for Instructors</a></strong><br>
                    In this presentation, Luis Cataldi explores the breadth of Epic resources
                    available to help you teach Unreal Engine in your schools, online, or within
                    your studio. We also share our favorite community resources that we have
                    learned from and have been inspired by. This is a valuable video for anyone
                    who teaches or helps others learn Unreal Engine. <a href="https://youtu.be/k1UBeAizxkQ"
                      target="_blank">Watch now</a>.<br>
                    <br>
                    <br>
                    <strong>April 29, 2020 | 9am ET &amp; 2pm ET - <a
                        href="https://www.unrealengine.com/en-US/blog/webinar-working-collaboratively-in-unreal-engine"
                        target="_blank">WEBINAR: Working collaboratively in Unreal
                        Engine</a>&nbsp;</strong><br>
                    It's easy to build Unreal Engine projects with numerous people in the same
                    environment, live and in real time, whether you're creating a virtual set or
                    designing a new product. In this presentation, we will demonstrate two
                    unique collaborative workflows.&nbsp;<br>
                    <br>
                    The first enables multiple artists to make changes simultaneously to the
                    same Unreal Engine project safely and reliably. Updates happen on the fly
                    for everyone in the group, with no wait. The second shows how to create a
                    runtime experience of design data to conduct collaborative design review
                    sessions. <a
                      href="https://www.unrealengine.com/en-US/blog/webinar-working-collaboratively-in-unreal-engine"
                      target="_blank">Watch now</a>.<br>
                    <br>
                    <br>
                    <strong>April 30, 2020&nbsp;| 2pm ET&nbsp;- <a
                        href="https://forums.unrealengine.com/unreal-engine/events/1749627-unreal-engine-4-25-release-highlights-april-23"
                        target="_blank">INSIDE UNREAL: 4.25 Release
                        Highlights</a>&nbsp;</strong><br>
                    It's easy to build Unreal Engine projects with numerous people in the same
                    environment, live and in real time, whether you're creating a virtual set or
                    designing a new product. In this presentation, we will demonstrate two
                    unique collaborative workflows.<br>
                    <br>
                    <br>
                    <strong>May 1, 2020 | 2pm ET - <a
                        href="https://forums.unrealengine.com/unreal-engine/events/1749631-unreal-educator-livestream-series-unreal-educator%E2%80%99s-field-guide-april-24"
                        target="_blank">Unreal Educator livestream series: Quixel Bridge,
                        Mixer, and Megascans for Education</a></strong><br>
                    During this livestream, we will dig into the Quixel ecosystem to better
                    understand the amazing toolset and vast content library available to all for
                    free, and explore academic-friendly workflows for generating breathtaking
                    environments. <a
                      href="https://forums.unrealengine.com/unreal-engine/events/1749631-unreal-educator-livestream-series-unreal-educator%E2%80%99s-field-guide-april-24"
                      target="_blank">Learn more</a>.<br>
                    <br>
                    <br>
                    <strong>May 8, 2020 | 2pm ET - <a
                        href="https://www.youtube.com/watch?v=cECOy5tqRyw&amp;list=PLZlv_N0_O1gbDlbg31JdDl-PTE2DDl_v4&amp;index=4"
                        target="_blank">Twinmotion 2020 for Education</a></strong><br>
                    During this livestream, we will explore the new Twinmotion 2020 and discuss
                    how best to integrate it into your academic environment. We'll show you how
                    incredibly easy it is to assemble a stunning environment in minutes, and
                    walk you through the newest features.<br>
                    <br>
                    <br>
                    <strong>May 13, 2020 | 9am ET &amp; 2pm ET - <a
                        href="https://www.unrealengine.com/en-US/blog/webinar-source-control-in-unreal-engine"
                        target="_blank">WEBINAR: Source control in Unreal
                        Engine</a></strong><br>
                    Planning, tools, and execution lie at the heart of any successful project.
                    Agile teams often implement version control systems to record changes to
                    files over time, enabling them to easily recall specific versions at a later
                    point. This reduces risk and improves collaboration between developers.<br>
                    <br>
                    In this webinar, Technical Artist Matthew Doyle goes over the different
                    options for source control in the Unreal Editor. <a href="https://bit.ly/3cPBLhM"
                      target="_blank">Watch
                      now</a><strong>.</strong><br>
                    <br>
                    <br>
                    <strong>May 15, 2020 | 2pm ET - <a
                        href="https://www.youtube.com/watch?v=T-Zg_O3oX20&amp;list=PLZlv_N0_O1gbDlbg31JdDl-PTE2DDl_v4&amp;index=5"
                        target="_blank">Unreal Educator livestream series: Exploring the
                        Demand for Unreal Engine and Real-time 3D skills</a></strong><br>
                    This livestream is for anyone who teaches, supports, or helps others working
                    with real-time tools, but specifically geared toward addressing the demand
                    for Unreal Engine developers and how to train more of them with the right
                    skills.<br>
                    <br>
                    <br>
                    <strong>May 20, 2020 | 9am ET &amp; 2pm ET - <a
                        href="https://www.unrealengine.com/en-US/blog/webinar-synchronizing-rhino-data-into-twinmotion-in-one-click"
                        target="_blank">WEBINAR: Synchronizing Rhino data into Twinmotion in
                        one click</a></strong><br>
                    In this webinar, Scott Davidson of McNeel and Associates shows how to
                    prepare your model in Rhino and get it ready for Twinmotion. Next, Martin
                    Krasemann, Twinmotion Product Specialist at Epic Games, demonstrates how to
                    import the Rhino scene file into Twinmotion, converting native materials
                    into Twinmotion PBR materials while retaining the scene hierarchy. Martin
                    enriches the scene with paths, vegetation, vehicles, and characters, taking
                    it all the way to the final rendering. <a href="https://www.youtube.com/watch?v=COTjOpslp_Q"
                      target="_blank">Watch&nbsp;now</a>.<br>
                    <br>
                    <br>
                    <strong>May 22, 2020 | 2pm ET - <a
                        href="https://www.youtube.com/watch?v=ScjXxjDMNao&amp;list=PLZlv_N0_O1gbDlbg31JdDl-PTE2DDl_v4&amp;index=6"
                        target="_blank">Unreal Educator livestream series: The Kickstart
                        Project: Exploring the Anatomy of Unreal Engine</a></strong><br>
                    This livestream will focus on the Unreal Engine Kickstart learning path
                    available on Unreal Online Learning, developed by Sjoerd De Jong and Mario
                    Palmero, along with the evangelism team in EMEA. Initially developed for
                    experienced game developers to get started with Unreal Engine, it provides a
                    big-picture, schematic overview to help you understand the relationships
                    between the various systems and tools in the engine.<br>
                    <br>
                    --<br>
                    <br>
                    More online events will be added as they are confirmed, so please check back
                    often!<br>
                    &nbsp;
                  </section>
                </div>
                <div class="recentPostContainer">
                  <h2 class="recent-title"><span>Recent Posts</span></h2>
                  <div class="container activityGridRow content-grid-row">
                    <div class="row match-heights content-toss-container">
                      <div class="content-toss">
                        <div class="activity-item col-xs-4 content-toss-item __post__"
                          id="qa-make-games-for-a-chance-to-win-awesome-prizes-during-2020-s-unreal-spring-jam">
                          <a class="image-link"
                            id="news-sm_img-make-games-for-a-chance-to-win-awesome-prizes-during-2020-s-unreal-spring-jam"
                            href="/en-US/blog/make-games-for-a-chance-to-win-awesome-prizes-during-2020-s-unreal-spring-jam">
                            <div title="" class="image hide-category"
                              style='background-image: url("https://cdn2.unrealengine.com/Unreal+Engine%2Fblog%2Fmake-games-for-a-chance-to-win-awesome-prizes-during-2020-s-unreal-spring-jam%2FNEWS_UNREALSPRINGJAM_FEED_THUMB-1400x788-ed6c4335da6be506152fd49e20c8a840755cfad8.jpg");'>
                            </div>
                          </a>
                          <div class="hide-category __post-category__"><span class="activityGridRow-date __post-date__"
                              data-date_="May 27, 2020">May 27, 2020</span>
                          </div>
                          <h2 class="headline __post-title__ hide-category"><a class="accent-hover-color title-case"
                              id="undefinedmake-games-for-a-chance-to-win-awesome-prizes-during-2020-s-unreal-spring-jam"
                              href="/en-US/blog/make-games-for-a-chance-to-win-awesome-prizes-during-2020-s-unreal-spring-jam">Make
                              games for a chance to win awesome prizes during 2020’s
                              Unreal Spring Jam</a></h2>
                          <div class="short __post-short__">2020’s Unreal Spring Jam takes
                            place between June 4-9 and offers chances to...</div>
                        </div>
                        <div class="activity-item col-xs-4 content-toss-item __post__"
                          id="qa-finding-funding-so-you-need-some-money-to-make-a-video-game">
                          <a class="image-link"
                            id="news-sm_img-finding-funding-so-you-need-some-money-to-make-a-video-game"
                            href="/en-US/blog/finding-funding-so-you-need-some-money-to-make-a-video-game">
                            <div title="" class="image hide-category"
                              style='background-image: url("https://cdn2.unrealengine.com/Unreal+Engine%2Fblog%2Ffinding-funding-so-you-need-some-money-to-make-a-video-game%2FFEED_THUMB_FindingTheFunding_Part1-1400x788-387abf1d2bd02c92259121580de372da8f7c3688.jpg");'>
                            </div>
                          </a>
                          <div class="hide-category __post-category__"><span class="activityGridRow-date __post-date__"
                              data-date_="May 26, 2020">May 26, 2020</span>
                          </div>
                          <h2 class="headline __post-title__ hide-category"><a class="accent-hover-color title-case"
                              id="undefinedfinding-funding-so-you-need-some-money-to-make-a-video-game"
                              href="/en-US/blog/finding-funding-so-you-need-some-money-to-make-a-video-game">Finding
                              Funding: So you need some money to make a video
                              game…</a></h2>
                          <div class="short __post-short__">Before you start pitching your
                            studio or project, it’s important to underst...</div>
                        </div>
                        <div class="activity-item col-xs-4 content-toss-item __post__"
                          id="qa-unearth-savings-up-to-70-during-the-unreal-engine-marketplace-spring-sale">
                          <a class="image-link"
                            id="news-sm_img-unearth-savings-up-to-70-during-the-unreal-engine-marketplace-spring-sale"
                            href="/en-US/blog/unearth-savings-up-to-70-during-the-unreal-engine-marketplace-spring-sale">
                            <div title="" class="image hide-category"
                              style='background-image: url("https://cdn2.unrealengine.com/Unreal+Engine%2Fblog%2Funearth-savings-up-to-70-during-the-unreal-engine-marketplace-spring-sale%2FFeed_Thumbnail_Desktop-1400x788-6fd26990173817874bebe6e4fec0d0fc89606746.jpg");'>
                            </div>
                          </a>
                          <div class="hide-category __post-category__"><span class="activityGridRow-date __post-date__"
                              data-date_="May 25, 2020">May 25, 2020</span>
                          </div>
                          <h2 class="headline __post-title__ hide-category"><a class="accent-hover-color title-case"
                              id="undefinedunearth-savings-up-to-70-during-the-unreal-engine-marketplace-spring-sale"
                              href="/en-US/blog/unearth-savings-up-to-70-during-the-unreal-engine-marketplace-spring-sale">
                              Unearth savings up to 70% during the Unreal Engine
                              Marketplace Spring Sale</a></h2>
                          <div class="short __post-short__">Make development a breeze with
                            construction kits, character collections, fl...</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <footer>
                  <div class="comment-wrapper">
                    <div class="button-wrapper"><button class="ue-cta-button button-lg"><span>Load
                          Comments</span></button>
                    </div>
                  </div>
                </footer>
              </article>
            </div>
            <!--<div class="prev-link-wrap"><a class="slug-link accent-color" href="/en-US/feed"><i
                  class="epic-blog-icon-grid"></i></a></div>-->
          </section>
        </div>
      </div>
    </div>
  </div>
</div>